openapi: 3.2.0
info:
  title: Saildrone Mission Time Series API
  description: 'Saildrone Public Mission API (BETA). Provides authenticated access to Saildrone mission telemetry and time-series data collected by Saildrone''s fleet of wind/solar autonomous surface vehicles (USVs). Surfaces include health, key/secret authentication, drone access discovery, and per-mission time-series retrieval across vehicle, atmospheric, oceanographic, and biogeochemical datasets. Endpoints, parameters, and authentication flow are reconstructed from the public Swagger interface at developer-mission.saildrone.com/api-docs and confirmed open source clients (e.g. nwfsc-fram/SaildroneTS).

    '
  version: v1
  contact:
    name: Saildrone Data Solutions
    url: https://www.saildrone.com/contact
  license:
    name: Saildrone API Terms
    url: https://www.saildrone.com/terms
servers:
- url: https://developer-mission.saildrone.com
  description: Saildrone Public Mission API (BETA)
security:
- BearerAuth: []
tags:
- name: Time Series
  description: Mission time-series data across vehicle, atmospheric, oceanographic, and biogeochemical datasets
paths:
  /v1/timeseries/{mission}:
    get:
      summary: Get Mission Time Series
      description: Retrieve time-series records for a specific drone/mission and dataset over a given window. Supports interval thinning, limits, and ascending/descending order.
      operationId: getMissionTimeSeries
      tags:
      - Time Series
      parameters:
      - name: mission
        in: path
        required: true
        description: Drone / mission identifier (e.g. 1023, 1039, 1040).
        schema:
          type: integer
          example: 1039
      - name: data_set
        in: query
        required: true
        description: Which Saildrone dataset to return for this mission.
        schema:
          type: string
          enum:
          - vehicle
          - atmospheric
          - oceanographic
          - biogeochemical
          example: oceanographic
      - name: start_date
        in: query
        required: true
        description: ISO-8601 start date/time (inclusive).
        schema:
          type: string
          format: date-time
          example: '2024-01-01T00:00:00Z'
      - name: end_date
        in: query
        required: true
        description: ISO-8601 end date/time (inclusive).
        schema:
          type: string
          format: date-time
          example: '2024-01-02T00:00:00Z'
      - name: interval
        in: query
        required: false
        description: Sampling interval in minutes between returned points (1 = no thinning).
        schema:
          type: integer
          default: 1
          example: 1
      - name: limit
        in: query
        required: false
        description: Maximum records per response page.
        schema:
          type: integer
          default: 1000
          example: 1000
      - name: order_by
        in: query
        required: false
        description: Sort order for gps_time.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      responses:
        '200':
          description: Time-series payload with metadata and data array
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeriesResponse'
        '401':
          description: Missing or expired bearer token
        '403':
          description: Mission not in this key's access list
        '404':
          description: Mission or dataset not found
components:
  schemas:
    TimeSeriesRecord:
      type: object
      description: A single time-stamped sample. Fields vary by dataset (vehicle, atmospheric, oceanographic, biogeochemical) but always include gps_time, latitude, longitude.
      properties:
        gps_time:
          type: number
          description: Unix epoch (seconds) of the sample.
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        TEMP_AIR_MEAN:
          type: number
          description: Air temperature mean (atmospheric dataset).
        WIND_FROM_MEAN:
          type: number
          description: Wind direction mean, degrees (atmospheric dataset).
        WIND_SPEED_MEAN:
          type: number
          description: Wind speed mean, m/s (atmospheric dataset).
        TEMP_SBE37_MEAN:
          type: number
          description: Sea surface temperature mean, deg C (oceanographic dataset).
        SAL_SBE37_MEAN:
          type: number
          description: Sea surface salinity mean (oceanographic dataset).
        O2_CONC_SBE37_MEAN:
          type: number
          description: Dissolved oxygen concentration (biogeochemical dataset).
        CHLOR_RBR_MEAN:
          type: number
          description: Chlorophyll-a, mg/m^3 (biogeochemical dataset).
        CO2_DRY_PPM:
          type: number
          description: Atmospheric CO2 mole fraction, ppm (biogeochemical dataset).
        SOG:
          type: number
          description: Speed over ground, knots (vehicle dataset).
        COG:
          type: number
          description: Course over ground, degrees (vehicle dataset).
        HDG:
          type: number
          description: Heading, degrees (vehicle dataset).
    TimeSeriesMeta:
      type: object
      description: Per-variable metadata (units, long_name, valid range, etc.) for the returned dataset.
      additionalProperties:
        type: object
        properties:
          units:
            type: string
          long_name:
            type: string
          standard_name:
            type: string
          valid_min:
            type: number
          valid_max:
            type: number
    TimeSeriesResponse:
      type: object
      properties:
        success:
          type: boolean
        meta:
          $ref: '#/components/schemas/TimeSeriesMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/TimeSeriesRecord'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Bearer token obtained from POST /v1/auth (sent as `authorization: <token>`).'
